.heading{
    text-align: center;
    font-size: 3rem;
   
}

h1{
    color: white;
}

.shadow{
    text-shadow: 0 0 10px #FFFFFF;
}

.loading{
    color: white;
    font-size: 100px;
}

.main{
    text-align: center;
}


.buttonholder{
    text-align: center;
}

.button{
    
}


